@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #fafafa; */
    background-color: #f2f2f2;
}

aside,
main,
nav {
    padding: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Comfortaa', cursive;
}

a:hover {
    color: #777;
}

button.link {
    color: rgb(44, 105, 155);
    background-color: transparent;
    border-width: 0px;
}

button.link:hover {
    color: #777;
}

button.link.following {
    padding: 5px 10px !important;
}

button.link.following.active {
    background-color: white;
    padding: 5px 10px !important;
    border: solid 1px #CCC;
    border-radius: 4px;
}

header {
    margin-top: 20px;
}

nav {
    position: sticky;
    height: 70px;
    width: 100vw;
    background-color: white;
    border-bottom: solid #dbdbdb 1px;
    left: 0px;
    top: 0px;
    padding: 0px 3vw;
}

nav,
nav ul,
.card .header,
.card .buttons,
.card .add-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

li {
    margin-left: 30px;
}

/* Body Styling and Fonts */
body {
    background-color: #f2f2f2;
}

h1,
h2 {
    font-family: 'Comfortaa', cursive;
}

p {
    font-family: 'Helvetica';
}

/* Nav Bar Styling */
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1vw;
    margin-bottom: 1.5vh;
    background-color: white;
}

#account-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#signout {
    margin-left: 0.5vw;
    text-decoration: none;
    color: #3783db;
}

/* Flex Styling */
#main-and-recs {
    display: flex;
    margin: 0% 10%;
}

#stories-and-posts {
    width: 55%;
    margin-right: 1%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Stories Panel Styling */
#stories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 5% 2vh;
    background-color: white;
    border: 1px solid gray;
    overflow-x: auto;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 1% 0.5%;

}

.story-username {
    font-size: 14px;
}

.story-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid gray;
}

/* Posts Panel Styling */
.post {
    margin: 5% 5%;
    border: 1px solid gray;
    background-color: white;
}

.user-and-ellipsis,
.post-actions-and-bookmark,
.add-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}

.post-action,
.post-button,
.view-button {
    /* Remove Button Styling */
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border: none;
    padding: 0;
    background-color: white;
}

.post-action.liked {
    color: red;
}

.post-action.bookmarked {
    color: black;
}

.likes-and-caption {
    padding: 0% 2%;
}

.post-picture {
    width: 100%;
    margin-bottom: 1vh;
}

.post-button,
.more-button,
.view-button,
#follow_link {
    text-decoration: none;
    color: #1414FF;
}

button:hover {
    cursor: pointer;
}

.fa-smile-o {
    margin-right: 1vw;
}

.add-comment-container {
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

.add-comment-container input {
    border: none;
    font-size: 18px;
    height: 40px;
    width: 25vw;

}

.add-comment-container input:focus {
    outline-width: 0;
}

.add-comment-label {
    display: none;
}

/* Modal Styling */
.modal-bg {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /*overflow: auto;*/
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

/* Modal Content */
.modal {
    display: flex;
    flex-direction: column;
    /*background-color: #fefefe;*/
    margin: auto;
    width: 80%;
    height: 50vh;
}

/* The Close Button */
.close {
    align-self: flex-end;
    margin-bottom: 0.25vw;
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    border: none;
    padding: 0;
    background-color: inherit;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-pic-and-comments {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    height: 60vh;
}

.modal-post-picture {
    height: 100%;
    width: auto;
    max-width: 50vw;
}

.modal-profile-and-comments {
    padding-top: 1vh;
    padding-left: 2vw;
    overflow-y: auto;
}

.modal-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.modal-img-and-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1vh;
}

.modal-comment-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.modal-comment-and-time {
    margin-left: 0.5vw;
}

.modal-comment {
    margin: 0;
}

.modal-comment-time {
    margin-top: 0.25vh;
}

.modal-post-display-time,
.modal-comment-time {
    color: gray;
}

/* Recommendations Panel Styling */
#recommendations {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
}

#current_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
}

#user_profile_pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.reco-main-username {
    margin-left: 1vw;
}

#reco-suggestions-title,
.suggested-for-you {
    color: gray;
}

.recommendation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rec-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.name-and-suggested {
    margin-left: 1vw;
    width: 70%;
}

#follow_link {
    text-decoration: none;
    margin-left: 7vw;
}

@media only screen and (max-width: 1024px) {
    #main-and-recs {
        display: flex;
        margin: 0% 0%;
    }

    .post {
        margin: 5% 2%;
    }

    #stories {
        margin: 0 2% 2vh;
    }
}

@media only screen and (max-width: 700px) {
    #recommendations {
        width: 0%;
        display: none;
    }

    #stories-and-posts {
        width: 100%;
    }

    #main-and-recs {
        display: flex;
        margin: 0% 0%;
    }

    .post {
        margin: 5% 2%;
    }

    #stories {
        margin: 0 2% 2vh;
    }
}