body * {
    box-sizing: border-box;
}

body {
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

img {
    max-width: 100%;
}

h2, p, button {
    margin-left: 6%;
    margin-right: 6%;
}

button {
    margin-bottom: 5%;
}
