body * {
    box-sizing: border-box;
}

body {
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

img {
    max-width: 100%;
}

/*
Add some style blocks below this line to style the card.
*/

h2, p, button {
    margin-left: 6%;
    margin-right: 6%;
}
